workflow.output.mode = 'copy'
/*
* Default parameters for the workflow.
*/
params {
    inputs = ['data/test.fasta', 'data/test_gapless.fasta']
    runs = [
        'mafft_auto:mafft:mafft --auto', 
        'mafft_linsi:mafft:linsi',
        'muscle:muscle:-align', 
        'kalign:kalign:', 
        't_coffee:t_coffee:', 
        'probcons:probcons:', 
        'clustalw:clustalw:', 
        'clustalo:clustalo:', 
        'amap:amap:', 
        'prank:prank:', 
        'fsa:fsa:'
    ]
}

profiles {
    blastSeqtk{
        params.inputs = ['data/blastSeqtk.fasta'] 
    }
    mammalHistoneH3{
        params.inputs = ['data/mammalFullHistoneH3onlyNcbi50seq.fasta'] 
    }
    mammalGrowthHormone{
        params.inputs = ['data/mammalGrowthHormoneNcbi50seq.fasta'] 
    }
    mammalMHC{
        params.inputs = ['data/mammalMHConlyNcbi50seq.fasta'] 
    }
}